@model IEnumerable<LearningMVC.Models.Blogs.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["message"] != null)
{
    @if ((bool) TempData["success"]!)
    {
        @await Html.PartialAsync("Alerts/success");
    }
    
    @if ((bool) TempData["fail"]!)
    {
        @await Html.PartialAsync("Alerts/danger");
    }
}

<p>
    <a asp-action="Create" method="GET">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.Id">View</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
